<form action="//nightfever-fulda.us4.list-manage.com/subscribe/post?u=30b0dd2680f556c3c5bbd1c66&amp;id=5fd269cc9e" method="post" id="subscribe-form" novalidate>
  <label for="subscribe-mail">Du kannst dich in unseren Mailverteiler eintragen und wir sagen dir Bescheid, wenn es etwas Neues gibt.</label>
  <input type="email" name="EMAIL" id="subscribe-mail" placeholder="E-Mail-Adresse" required>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_30b0dd2680f556c3c5bbd1c66_5fd269cc9e" tabindex="-1" value=""></div>
  <button>Newsletter Abonnieren</button>
</form>
