---
layout: default
page_type: event
---
<main class="page-event">
  <article class="event" itemscope itemtype="http://schema.org/Event">
    <link href="{{ page.url }}" itemprop="url" />
    <header>
      {% include event_info.html kurs=page hide_link=true show_cover=published title_tag="h1" show_links=true %}
      {% if page.published != true %}
        <p class="unpublished_post">Themen und Referenten werden noch bekannt gegeben.</p>
        <p>Unser Glaubenskurs‐Wochenende bietet die Gelegenheit, mehr über Deinen Glauben und seine Bedeutung für Dein Leben zu erfahren und Dich darüber mit anderen Jugendlichen und jungen Erwachsenen auszutauschen. Begleitet wird der gesamte Kurs von P. Jens Watteroth OMI & Team.</p>
      {% endif %}
    </header>
    <main>
      {% if page.published %}
        {{ content }}
      {% else %}
        {% include mailinglist_signup.html %}
      {% endif %}
    </main>

    {% assign has_tags = false %}
    {% for thema in page.themen %}
      {% if thema.tags.size > 0 %}{% assign has_tags = true %}{% endif %}
    {% endfor %}

    {% if has_tags %}
    <aside class="tags">
    {% for thema in page.themen %}
      {% if thema.tags.size > 0 %}{% for tag in thema.tags %}
          <span class="tag">#{{ tag }}</span>
        {% endfor %}{% endif %}
    {% endfor %}
    </aside>
    {% endif %}

    {% if page.photoset_id %}
    <aside id="bildergalerie">
      <h2>Bildergalerie</h2>
      {% flickr_gallery page.photoset_id %}
    </aside>
    {% else %}
      {% if page.published %}
    <aside class="anmeldung">
      <h2>Anmeldung</h2>
      <p>Zur Anmeldung einfach eine Mail mit dem Hinweis auf den Glaubenskurs, eurer Adresse und eurem Geburtsdatum an <a href="mailto:kjf@bistum-fulda.de">kjf@bistum-fulda.de</a> senden.</p>
      <p><a href="mailto:kjf@bistum-fulda.de?subject={{ page.title }}" class="btn btn-more">Anmelden</a></p>
    </aside>
      {% endif %}
    {% endif %}

    <footer class="see-also">
      <a href="/kurse" class="btn btn-back">Alle Glaubenskurse</a>
    </footer>
  </article>
</main>

